@font-face {
    font-family: Aboreto;
    src: url(Aboreto-Regular.ttf);
}

body {
    border-top: 50px;
    margin: 0px;
}

.outside {
    background: #efe0cb url("backgroundimp.jpg") repeat fixed top center;
}

.container {
    background-color: #efe0cb;
    width: 60%;
    position: relative;
    left: 20%;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 50%);
    margin: 0px;
    padding: 25px;
}

h1 {
    text-align: left;
    padding: 50px 50px 30px 0px;
    font-family: Aboreto, "Times New Roman", sans-serif;
    font-size: 30pt;
    text-decoration: underline;
    margin: 0px;
    white-space: pre;
}

h1::after {
    content: "\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0";
    text-decoration: underline;
}

h2 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-family: Aboreto, "Times New Roman", sans-serif;
}
.haiku {
    position: relative;
    width: 400px;
}

.haikuContent {
    text-align: center;
}

.Personal p {
    text-indent: 12pt;
}

img {
    float: right;
    border: 10px solid white;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table,
th,
td {
    border: 1px solid;
    vertical-align: top;
}

table {
    border: 5px solid black;
    width: 100%;
    table-layout: fixed;
}

th {
    text-align: left;
    background-color: rgb(120, 119, 119);
}

td {
    text-align: center;
}

.timeColumn {
    width: 10%;
}

.commute {
    background-color: red;
}

.work {
    background-color: aqua;

}

.class {
    background-color: tan;
}

.home {
    background-color: green;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

tr:nth-child(even) {
    background-color: #fff;
}

.ffxiv {
    background-color: lightgreen;
}

.schedule {
    position: relative;
    left: 20%;
    width: 60%;
}

.schedule h2 {
    position: relative;
    width: inherit;
    text-align: center;

}